.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-80 {
  font-size: 80px;
}

.font-size-70 {
  font-size: 70px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-50 {
  font-size: 50px;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-900 {
  font-weight: 900;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-36 {
  line-height: 36px;
}

.line-height-60 {
  line-height: 60px;
}

.line-height-100 {
  line-height: 100px;
}

.line-height-70 {
  line-height: 70px;
}

.line-height-50 {
  line-height: 50px;
}

.font-color-gold {
  color: #eabe64;
}

.font-color-purple {
  color: #2a2552;
}

.font-color-light-grey {
  color: #faf8f7;
}

.font-color-dark-grey {
  color: #979eaa;
}

.font-color-pink {
  color: #ad5874;
}

a {
  color: #2a2552;
}

a:hover {
  color: #eabe64;
  font-weight: 700;
}

.font-weight-500 {
  font-weight: 700;
}

.icon-purple:hover {
  color: #eabe64;
  cursor: pointer;
}

.icon-grey:hover {
  color: #2a2552;
  cursor: pointer;
}
