.main-container {
  margin: 0 auto;
  width: 1200px;
  padding: 30px;
}
.shadman-jumbotron-container {
  margin-top: 12%;
  margin-bottom: 10%;
}

.section-even-bg {
  background-color: #faf8f7;
}

.resume-container {
  overflow-y: hidden !important;
  background-color: #c5c5c5;
  height: 100%;
}

.resume-content {
  margin-top: 25px;
  width: 8.27in;
  height: 95vh;
}

.shadman-section-experience {
  height: 100%;
}

.bg-even {
  background-color: #faf8f7;
}
